// bower:scss
// endbower

.rack {
  width: 100%;
  max-width: 124.8em;
  min-width: 32em;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  @include respond(super-desktop) {
    padding: 0;
  }
}
.shelf {
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  + .shelf {
    margin-top: 12em;
  }
}

.bottle,
.bottles {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
}

.bottle:first-child,
.bottles:first-child,
.lefty {
  margin-left: 0;
}

.bottle.righty,
.bottles.righty {
  float: right;
}

// easy way to pad the split columns
@include respond(desktop) {
  .bottle.koozie-left,
  .bottles.koozie-left {
    padding-left: 1.6em;
  }
  .bottle.koozie-right,
  .bottles.koozie-right {
    padding-right: 1.6em;
  }
}

// creating the grid
$min-num-cols: 1;
$max-num-cols: 8;   // gonna try with 8 columns, even though the design was based on 12
$grid-formula: 100% / $max-num-cols;

/*@if $i == 1 {
  $col-class-name: one;
} @elseif $i == 2 {
  $col-class-name: two;
} @elseif $i == 3 {
  $col-class-name: three;
} @elseif $i == 4 {
  $col-class-name: four;
} @elseif $i == 5 {
  $col-class-name: five;
} @elseif $i == 6 {
  $col-class-name: six;
} @elseif $i == 7 {
  $col-class-name: seven;
} @elseif $i == 8 {
  $col-class-name: eight;
}*/


// in case of emergency...
/*@if $col-class-name == "ragnarock" {
  @warn "something went wrong...ragnarock is clearly not right";
}*/

// create all the column classes
.rack {
  @for $i from $min-num-cols through $max-num-cols {
    @if $i == $min-num-cols {
      .one.bottle {
        width: $grid-formula * $i;
      }
    }
    @else {
      .#{num-as-word($i)}.bottles {
        width: $grid-formula * $i;
      }
    }
  }
  @for $j from $min-num-cols through $max-num-cols - 1 {
    .push-#{num-as-word($j)} {
      margin-left: $grid-formula * $j;
    }
  }
}

@include respond(all-phones) {
  .bottle,
  .bottles {
    width:auto !important;
  }

  .lefty,
  .righty {
    float: none !important;
  }

  .koozie-left,
  .koozie-right,
  .koozie-left,
  .koozie-right {
    padding-left: 0;
    padding-right: 0;
  }

  [class^="push-"],
  [class*="push-"] {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: $ambiguous-value) {
  #about {
    [class^="push-"],
    [class*="push-"] {
      margin-left: 0 !important;
    }
    .bottle,
    .bottles {
      width: auto !important;
    }
  }
}